:root {
  --background: #ffffff;
  --text: #3788ee;
}

body {
  color: var(--text);
  font-family: "Lato", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.row {
  margin: 0;
}

/* Header COMPONENT */
.head {
  width: 100%;
  background: var(--background);
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  6px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
}

.head h2 {
  font-size: 1.8rem;
}

.Button {
  display: inline-block;
  position: relative;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  6px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.span {
  font-family: "Nunito", sans-serif;
  font-weight: semibold;
  font-size: 1.2rem;
}

.Button:hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2);
}

.Button:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5),
    inset 8px 8px 16px rgba(0, 0, 0, 0.1);
}

i {
  font-size: 1.3em;
  color: var(--text);
}

/* Home Page COMPONENT */

/* Intro Sections */
.IntroText {
  margin-top: 15%;
  font-weight: bold;
  font-size: 85px;
  line-height: 90px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.IntroHeader {
  margin: 1%;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  6px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 32px;

}

img {
  width: 100%;
  border-radius: 20px;
}

hr {
  height: 0;
  width: 15%;
  border: 4px solid var(--text);
  border-radius: 5px;
}

.stinfo {
  padding: 100px 5%;
}

.infoHead {
  font-size: 3rem;
  margin-bottom: 2%;
}

.info {
  font-family: "Nunito", sans-serif;
  margin: 5%;
  font-size: 1.2rem;
}
/* Help Section*/
.card {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
  6px 6px 10px rgba(0, 0, 0, 0.2);
  border-radius: 32px;
  margin: 2% 15%;
  padding: 1%;
  border-width: 0ch;
}
.HelpTitle {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 4%;
}
.icons {
  margin-top: 180px;
  font-size: 6em;
  color: var(--text);
}
.ResCard {
  margin: 5% 29%;
}

.tryButton {
  width: 500px;
  font-size: 3rem;
}

/* Result Section */
.ResultSection{
  margin: 7% 5%;
}

/* Footer Section */
.contact-links {
  font-size: 2.5rem;
  margin: 15px;
}
.Footer {
  margin-top: 4%;
}
.Footer h2 {
  font-weight: bold;
  font-size: 30px;
  line-height: 44px;
}
.Footer h3 {
  font-family: "Nunito", sans-serif;
  margin-top: 15px;
  font-size: 1rem;
}

/* Try Page */
.Title {
  padding: 5%;
}
.Title-text {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: bold;
  font-size: 85px;
  font-family: "Lato", sans-serif;
}
p {
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}

/* Input section  */
.file-name {
  margin-left: 10px;
  font-size: 20px;
  display: inline-block;
}
.inputcard {
  padding: 5%;
}
.selector {
  margin: 5%;
}
input[type="file"] {
  display: none;
}
.img{
  height: 350px;
}

/* Animations */
/** Basic styles for an animated element */
.scene_element {
  animation-duration: 0.4s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
}

/** An element that fades in */
.scene_element--fadein {
  animation-name: fadeIn;
}

/** An element that fades in and slides up */
.scene_element--fadeinup {
  animation-name: fadeInUp;
}

/** An element that fades in and slides from the right */
.scene_element--fadeinright {
  animation-name: fadeInRight;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media (max-width: 991px) {
  .head .Button {
    display: block;
  }

  hr {
    margin-top: 15%;
    width: 40%;
  }
  .info {
    margin: 15% 5%;
    font-size: 1.2rem;
  }
  .icons {
    margin: 10%;
  }
  .helpCard {
    margin: 3% 1%;
  }
  .ResCard {
    margin: 0 4% 15%;
  }
  .card{
    margin: 50px auto;
    width: 95%;
  }
}
